header{
    background-image: linear-gradient(rgb(0,0,0,0.6),rgba(0,0,0,0.9)), url(img.jpg);
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
}
.banner{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.navbar-brand{
    font-family: big johan;
}
.nav-link{
    font-family: poppins;
    text-transform: uppercase;
}
.banner-text p{
    font-family: poppins;
    color: #fff;
}
.banner-btn a{
    border: 1px solid #fff;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
}
.banner-btn a.active{
    background :#fed136;
    border-color:#fed136 ;
    color: #000;
}

/*Animation*/
.text-area{
    font-size: 40px;
    font-family: roboto;
    font-weight:bold;
}
.text-area span{
    color: #fed136;
    opacity: 0;
    transform: translate(0,-100px) rotate(360dg) scale(0);
    animation: animate 5s forwards;
}
.text-area span{
    display: inline-block;
}

.containers{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
    text-align: center;
}
.text-area span:nth-of-type(2){
   animation-delay: .3s;   
}.text-area span:nth-of-type(3){
    animation-delay: .4;   
 }.text-area span:nth-of-type(4){
    animation-delay: .5s;   
 }.text-area span:nth-of-type(5){
    animation-delay: .6s;   
 }.text-area span:nth-of-type(6){
    animation-delay: .7s;   
 }.text-area span:nth-of-type(7){
    animation-delay: .8s;   
 }.text-area span:nth-of-type(8){
    animation-delay: .9s;   
 }.text-area span:nth-of-type(9){
    animation-delay: .10s;   
 }.text-area span:nth-of-type(10){
    animation-delay: .11s;   
 }.text-area span:nth-of-type(11){
    animation-delay: .12s;   
 }.text-area span:nth-of-type(12){
    animation-delay: .13s;   
 }.text-area span:nth-of-type(13){
    animation-delay: .14s;   
 }
 @keyframes animate {
     30%{
         transform: translate(0,-50px) rotate(180deg) scale(1);

     }
     60%{
         transform: translate(0,00px) rotate(0deg ) scale(.8);
     }
     100%{
        transform: translate(0) rotate(0deg ) scale(1);
        opacity: 1;
    }
 }
 @media (max-width:600px) {
     .banner-text p{
         display: none;
     }
     .navbar-dark{
         background: #333;

     }
     .text-area{
         font-size: 35px;
     }
 }